*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
width: 100%;
height: 7%;
margin: 0;
padding: 0;
background-color: #3A405A;
display: flex;
grid-area: header;
justify-content: flex-end;
}
 
#sininenbox{
width: 100%;
height: 100%;
background-color:#3A405A;
position: relative;
bottom:0;
opacity: 70%;
z-index: 2;
text-align:left;
}

#tekstibox {
width: 70%;
height: 300px;
margin-left: 85px;
margin-top: 85px;
position: absolute;
bottom:0;
z-index: 3;
text-align:left;
color: white;
font-size: 2.0em;
font-family:'Segoe UI', sans-serif;
}

#otsikko1{
    font-family:'Segoe UI', sans-serif;
    font-weight: 400;
}

#tekstiboxmuttasininen {
width: 100%;
height: 300px;
background-color:#3A405A;
position: absolute;
bottom:0;
z-index: 2;
opacity: 60%;
}

#logo{
position: absolute;
top: 100px;
left: 100px;
z-index: 3;
    
}
    
section {
    position: relative;
    background-image:url("./kuvat/book-4.jpg");
}

    




